body{margin: 0px}
body{padding: 0px}

@font-face {
  font-family: 'DM-Sans';
  src: url('dmsans-regular.woff') format('woff');
  src: url('dmsans-regular.woff2') format('woff2');
  src: url('DMSans-Regular.ttf') format('truetype');
}

.header1 {
    position:relative;
    text-align: center;
    font-family: 'DM-Sans';
    font-size: 50px;
    color:white;
  }

  .headerbox {
    padding: 20px;
    margin: 0px;
    background: #3d4443;
    color: white;
  }

.header2 {
    position:relative;
    text-align: center;
    font-family: 'DM-Sans';
    font-size: 50px;
    color:white;
  }

  ul {
    position:relative;
    bottom: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'DM-Sans';
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

.home1 {
  position:relative;
  bottom: 25px;
  left: 15px;
  font-family: 'DM-sans';
}

.header3 {
  position:relative;
  text-align: center;
  font-family: 'DM-Sans';
  font-size: 50px;
  color:white;
}

